@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  /* these are rgb values */
  :root {
    --background: 2, 8, 23;
    --foreground: 237, 241, 242;
    --primary: 130, 87, 229;
    --secondary: 28, 23, 64;
  }
}

@media (prefers-color-scheme: dark) {
  /* these are rgb values */
  :root {
    --background: 2, 8, 23;
    --foreground: 237, 241, 242;
    --primary: 130, 87, 229;
    --secondary: 28, 23, 64;
  }
}

body {
  color: rgb(var(--foreground));
  background: rgb(var(--background));
}
