@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  /* these are rgb values */
  :root {
    --background: 2, 8, 23;
    --foreground: 236, 240, 241;
    --primary: 130, 87, 229;
    --secondary: 28, 23, 64;
  }
}

@media (prefers-color-scheme: dark) {
  /* these are rgb values */
  :root {
    --background: 2, 8, 23;
    --foreground: 236, 240, 241;
    --primary: 130, 87, 229;
    --secondary: 28, 23, 64;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  overflow: auto;
}

body {
  color: rgb(var(--foreground));
  background: rgb(var(--background));
  scroll-behavior: smooth;
}
